.App {
  text-align: center;
}

.red {
  color: #f00;
}

.green {
  color: #0f0;
}
.movie-poster{
   height:240px;
   width:200px;
   object-fit: cover;
}
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-container{
  width: 340px;
}
.user-name{
  font-size: 25px;
}
.movie-summary{
  font-size: 10px;
}
.movie-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
  gap: 1rem;
  justify-items: center;
}
body{
  margin: 24px;
}